* {
  background-color: #fff;
}

body {
  background-image: url(images/crepe1.jpg);
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.responsive {
  opacity: 0.7;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  max-width: 1000px;
}
